<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Flask</title>
</head>

<body>
    <h1>Machine Learning Projects</h1>
    <form action="" method="post">
        <input name="name" type="text" placeholder="name">
        <input name='surname' type="text" placeholder="surname">
        <input name="number" type="text" placeholder="contact number">
        <a href="check"><input type="submit"></a>

    </form>
</body>

</html>